<table class="request-header-input">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="value">Value</th>
    </tr>
  </thead>
  <tbody>

    {{#each request.headers}}
      <tr>
        <td class="name">
          {{input valueBinding="name" placeholder="Header-Name"}}
        </td>
        <td class="value">
          {{input valueBinding="value" placeholder="header/value"}}
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>

<button {{action 'addHeader'}} class="add-header">Add another header</button>
