<form>
  {{url-input protocol=protocol url=url}}

  <fieldset>
    <legend>Headers</legend>
    {{request-header-input addHeader="addHeader" request=model}}
  </fieldset>

  <label class="request-body">
    <em>Body</em><br />
    {{textarea value=body cols=72 rows=7}}
  </label><br />

  <button>
    Send
  </button>
</form>
